{{# if foot }}
  <footer class="text-center navbar-fixed-bottom">
    <p>Copyright 2017, Created by Mikl贸s R贸na</p>
  </footer>
{{ else }}
  <footer class="text-center">
    <p>Copyright 2017, Created by Mikl贸s R贸na</p>
  </footer>
{{/if}}
